{% extends 'base.html'%}

{% block title %} kaymay service - Appropos de Nous {%endblock%}

{% block content%}

<section class="about_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="detail-box">
          <h2>
            Appropos de nous
          </h2>
          <p>
            Kaymay Services est votre partenaire de confiance pour tous vos besoins en construction, rénovation et
            design de bâtiments. Notre équipe expérimentée et passionnée s'engage à offrir des services de haute
            qualité, que ce soit pour la construction de nouveaux bâtiments, la rénovation de propriétés existantes ou
            la conception architecturale. Nous mettons l'accent sur l'innovation, la durabilité et la satisfaction du
            client, en veillant à ce que chaque projet reflète vos besoins et votre vision. Faites confiance à Kaymay
            Services pour réaliser vos projets de construction et de rénovation avec expertise et professionnalisme,
            tout en apportant une touche de design unique à chaque réalisation."
          </p>
          <a href="">
            Plus
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="img-box">
          <img src="static/images/p3.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}